.img-slider-button {
    all: unset;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
}

.img-slider-button > * {
    stroke: palegoldenrod;
    fill: black;
    width: 2rem;
    height: 2rem;
}